.example-radio-group {
  display: inline-flex;
  /*flex-direction: column;*/
}

.example-radio-button {
  margin: 5px;
}

  .mdCard {
    max-height: 25px;
    padding-top: 5px;
  }

  .mdCard1 {
    width: 100px;
  }