<div>
  <md-radio-group class="example-radio-group" [(ngModel)]="favoriteSeason">
    <md-radio-button class="example-radio-button" *ngFor="let season of typeArr" [value]="season">
      {{season}}
    </md-radio-button>
  </md-radio-group>
</div>
<div style="float:left">
  <ul style="list-style-type: none;padding-left:0px">
    <li>
      <md-card class="mdCard">
        <md-card-content>
          時間\日期
        </md-card-content>
      </md-card>
    </li>
    <li *ngFor="let item of timearr; let jheader= index">
      <md-card class="mdCard">
        <md-card-content>
          {{item}}
        </md-card-content>
      </md-card>
    </li>
  </ul>

</div>

<div style="display: inline-block">
  <ul style="list-style-type: none;padding-left:0px">
    <li *ngFor="let item of [1,2,3,4,5,6,7]; let jheader= index" style='float:left;'>
      <md-card class="mdCard mdCard1">
        <md-card-content>
          {{WeekToWord(jheader)}}
        </md-card-content>
      </md-card>
    </li>
  </ul>

  <div style="clear:left">
    <ul *ngFor="let item of [1,2,3,4,5,6,7]; let J= index" style="list-style-type: none;float: left;padding:1px;">
      <li *ngFor="let item of timearr; let I = index" (click)="clickI = I; clickJ = J;">
        <md-card class="mdCard mdCard1">
          <md-card-content [ngStyle]="{
          'color': selectCheck(I,J,clickI,clickJ)
          }">
            <p>
              {{I}}-{{J}}
            </p>
            </md-card-content>
        </md-card>

      </li>
    </ul>
  </div>
</div>