<div class="ui four cards" style="margin-top:0; margin-bottom:0">
  <a class="red card" *ngIf="isAll || isTony">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> Tony
      </div>
    </div>
  </a>
  <a class="orange card" *ngIf="isAll || isABC">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> ABC
      </div>
    </div>
  </a>
  <a class="yellow card" *ngIf="isAll || isTony">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> Tony
      </div>
    </div>
  </a>
  <a class="olive card" *ngIf="isAll || isABC">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> ABC
      </div>
    </div>
  </a>
  <a class="green card" *ngIf="isAll || isTony">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> Tony
      </div>
    </div>
  </a>
  <a class="teal card" *ngIf="isAll || isABC">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> ABC
      </div>
    </div>
  </a>
  <a class="blue card" *ngIf="isAll || isTony">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> Tony
      </div>
    </div>
  </a>
  <a class="violet card" *ngIf="isAll || isABC">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> ABC
      </div>
    </div>
  </a>
  <a class="purple card" *ngIf="isAll || isTony">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> Tony
      </div>
    </div>
  </a>
  <a class="pink card" *ngIf="isAll || isABC">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> ABC
      </div>
    </div>
  </a>
  <a class="brown card" *ngIf="isAll || isTony">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> Tony
      </div>
    </div>
  </a>
  <a class="grey card" *ngIf="isAll || isABC">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> ABC
      </div>
    </div>
  </a>
  <a class="black card" *ngIf="isAll || isTony">
    <div class="image">
      <img class="ui wireframe image" src="./assets/white-image.png">
    </div>
    <div class="extra content">
      <div class="right floated author">
        設計師 <img style="margin-left:4px" class="ui avatar image" src="./assets/matt.jpg"> Tony
      </div>
    </div>
  </a>
</div>