<div class="ui fixed inverted menu">
  <div class="ui container">
    <a class="item" style="width: 6.5em" routerLink="/home" routerLinkActive="active" #rla="routerLinkActive">
  首頁<i *ngIf="rla.isActive" style="margin-left:0.5em" class="folder open outline icon"></i>
  </a>
    <a class="item" [ngClass]="{'disable':true}" style="width: 9em" routerLink="/sub1" routerLinkActive="active" #rla1="routerLinkActive">
  預約<i *ngIf="rla1.isActive" style="margin-left:0.5em" class="folder open outline icon"></i>
  </a>
  </div>
</div>
<div class="ui main text container">
  <router-outlet></router-outlet>
</div>

<div class="ui inverted vertical footer segment">
  <div class="ui center aligned container">
    <div class="ui stackable inverted divided grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Group 1</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Group 2</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Group 3</h4>
        <div class="ui inverted link list">
          <a href="#" class="item">Link One</a>
          <a href="#" class="item">Link Two</a>
          <a href="#" class="item">Link Three</a>
          <a href="#" class="item">Link Four</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">Footer Header</h4>
        <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
      </div>
    </div>
  </div>
</div>