<!-- Nav tabs -->
<nav class="nav navbar-inverse bg-primary">
  <div class="container-fluid">
    <ul class="nav navbar-nav" id="navId">
      <li class="active" routerLinkActive="active">
        <a routerLink="/home" class="nav-link">
          <span class="glyphicon glyphicon-home" aria-hidden="true"></span> 首頁
        </a>
      </li>
      <li class="" routerLinkActive="active">
        <a routerLink="/sub1" class="nav-link">預約功能</a>
      </li>

    </ul>
  </div>
</nav>
<div class="jumbotron">


  <router-outlet></router-outlet>
</div>